@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family: "Calibri";
    src: url(http://localhost/webhook-pdf-generation/fonts/Calibri/CALIBRI.TTF) format("truetype");
}

@font-face {
    font-family: "Calibri Italic";
    src: url(http://localhost/webhook-pdf-generation/fonts/Calibri/CALIBRII.TTF) format("truetype");
}

@font-face {
    font-family: "Calibri Bold";
    src: url(http://localhost/webhook-pdf-generation/fonts/Calibri/CALIBRIB.TTF) format("truetype");
}

@font-face {
    font-family: "Calibri Bold Italic";
    src: url(http://localhost/webhook-pdf-generation/fonts/Calibri/CALIBRIZ.TTF) format("truetype");
}


@font-face {
    font-family: "Asap";
    src: url(http://localhost/webhook-pdf-generation/fonts/Asap/Asap-Regular.ttf) format("truetype");
}


body,td,th {
	font-family: Calibri, "Calibri Bold", "Calibri Bold Italic", "Calibri Italic"; font-weight:normal;}


body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    page-break-after: always;
}

.col_izq{ width:345px; float:left; margin-right:5px;height:990px;}
.col_dcha{ width:345px; float:right;height:965px;}

.activar_bk{ width:345px; height:213px; background-image:url(http://localhost/webhook-pdf-generation/templateImages/14activar.jpg); background-repeat:no-repeat;}


.tit_activar { font-size:13px; color:#FFFFFF; font-weight:bold; text-align:center; padding:3px; margin-bottom:8px;}

.pasos_activar{ font-size:13px; color:#FFFFFF; margin-left:31px; line-height:14px; padding-right:10px;}

.pasos_activar span { color:#222221; font-weight:bold;}

.campos_izq{font-size:10pt; text-align:right; color:#636363; padding-right:5px; height:25px; padding-top:3px;}

.campos_centro{font-size:12pt; text-align:center; color:#ffffff; height:20px; padding-top:3px; font-weight:bold;}

.separa {width:345px; height:10px; font-size:7pt; font-style:italic; color:#636363;}

.titulos {width:341px; height:13px; font-size:12px; color:#636363; padding: 2px 0px 2px 5px; font-weight:bold; border: 1px solid #FF8201;}
.titulos span {color:#FF8201; float:left;}

.rellenar {width:336px; background-color:#EAEAEA;border:solid 1px #FF8201; color:#636363; font-size:7pt; font-style:italic; border-left:1px solid #FF8201; border-right:1px solid #FF8201; min-height:12px; padding: 5px 5px 2px 5px; }

.rellenar_tel {width:336px; border-right:solid 1px #FF8201; color:#636363; font-size:12px; border-left:1px solid #FF8201; border-right:1px solid #FF8201; min-height:12px; padding: 5px 5px 2px 5px; font-weight:bold; }

.telefono{width:100%;clear:both; height:1px; padding-left:17px;}
.num_tel{width:20px; font-size:12px; float:left;}

.tel {width:119px; border-left: solid 1px #FF8201; border-right: solid 1px #FF8201; float: left; background-color:#EAEAEA; height:19px; margin-left:0px; margin-right:13px; margin-top:-5px;}

.titulos_firma {width:341px; height:29px; font-size:12px; color:#FF8201; padding: 2px 0px 2px 5px; font-weight:bold; border: 1px solid #FF8201; float:left;}


.firmas {width:100px; color:#636363; font-size:10pt; min-height:72px; float:right; margin-top:-2px; text-align:center; border-left: 1px solid #FF8201; padding-top:5px; line-height:14px;}


.titulos_firma2 {width:341px; height:72px; font-size:12px; color:#FF8201; padding: 2px 0px 2px 5px; font-weight:bold; border-right: 1px solid #FF8201;border-left: 1px solid #FF8201; float:left;}


.documentacion {width:336px; background-color:#EAEAEA;border:solid 1px #FF8201; color:#636363; font-size:9pt; border-left:1px solid #FF8201; border-right:1px solid #FF8201; min-height:15px; padding: 5px 5px 2px 5px; }

.direccion {width:336px;border-bottom:solid 1px #FF8201; color:#636363; font-size:10pt; border-left:1px solid #FF8201; border-right:1px solid #FF8201; min-height:15px; padding: 5px 5px 2px 5px; color:#222221;}

.direccion span {color:#FF8201;}




